<a href="https://colab.research.google.com/github/Alejohenao-8/python/blob/main/Laboratorio_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#Tu objetivo es limpiar los datos para que estén listos para el análisis, aplicando las siguientes técnicas:
import pandas as pd

data = {
    'Nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luisa', 'Carlos', 'Juan'],
    'Edad': [25, 30, None, 29, 28, 200, 25],
    'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'ana@mail.com', 'luisa@mail.com', 'carlos@mail.com', 'juan@mail.com'],
    'Pais': ['colombia', 'Colombia', 'Mexico', 'Argentina', 'Colombia', 'Brazil', 'colombia'],
    'Genero': ['M', 'F', 'H', 'F', 'Femenino', 'M', 'M'],
    'Visitas': [5, 7, 6, 4, 8, 2, 5]
}

df = pd.DataFrame(data)

print("Datos iniciales:")
print(df)
print("\n")

print("Columna 'Edad' después de rellenar valores faltantes:")
# Paso 3: Rellenar valores faltantes
df['Edad'].fillna(df['Edad'].mean(), inplace=True)

# Imprimimos la columna Edad para verificar que ya no hay valores faltantes
print(df)
print("\n")
# Paso 4: Eliminar duplicados
df.drop_duplicates(inplace=True)
print("\nEliminar duplicados")
print(df)
print("\n")

# Paso 5: Estandarizar los valores de las columnas
# Estandarizar el género
df['Genero'] = df['Genero'].replace({
    'M': 'Masculino',
    'H': 'Masculino',
    'F': 'Femenino',
    'Femenino': 'Femenino'
})

print("\nEstandarizar los valores de las columnas: género")
print(df)
print("\n")

# Estandarizar el país (asegurar que esté en mayúsculas)
df['Pais'] = df['Pais'].str.capitalize()

print("\nEstandarizar el país:")
print(df)
print("\n")

# Paso 6: Corregir valores inválidos (como la edad de 200 años).
# Asumimos que la edad máxima razonable es 100 años
df['Edad'] = df['Edad'].apply(lambda x: x if x < 100 else df['Edad'].mean())
print("\nCorregir valores inválidos:(como la edad de 200 años).")
print(df)

Datos iniciales:
   Nombre   Edad            Email       Pais    Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia         M        5
1   Maria   30.0   maria@mail.com   Colombia         F        7
2   Pedro    NaN   pedro@mail.com     Mexico         H        6
3     Ana   29.0     ana@mail.com  Argentina         F        4
4   Luisa   28.0   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil         M        2
6    Juan   25.0    juan@mail.com   colombia         M        5


Columna 'Edad' después de rellenar valores faltantes:
   Nombre        Edad            Email       Pais    Genero  Visitas
0    Juan   25.000000    juan@mail.com   colombia         M        5
1   Maria   30.000000   maria@mail.com   Colombia         F        7
2   Pedro   56.166667   pedro@mail.com     Mexico         H        6
3     Ana   29.000000     ana@mail.com  Argentina         F        4
4   Luisa   28.000000   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.000000  carlos@mail.com     Brazil         M        2
6    Juan   25.000000    juan@mail.com   colombia         M        5



Eliminar duplicados
   Nombre        Edad            Email       Pais    Genero  Visitas
0    Juan   25.000000    juan@mail.com   colombia         M        5
1   Maria   30.000000   maria@mail.com   Colombia         F        7
2   Pedro   56.166667   pedro@mail.com     Mexico         H        6
3     Ana   29.000000     ana@mail.com  Argentina         F        4
4   Luisa   28.000000   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.000000  carlos@mail.com     Brazil         M        2



Estandarizar los valores de las columnas: género
   Nombre        Edad            Email       Pais     Genero  Visitas
0    Juan   25.000000    juan@mail.com   colombia  Masculino        5
1   Maria   30.000000   maria@mail.com   Colombia   Femenino        7
2   Pedro   56.166667   pedro@mail.com     Mexico  Masculino        6
3     Ana   29.000000     ana@mail.com  Argentina   Femenino        4
4   Luisa   28.000000   luisa@mail.com   Colombia   Femenino        8
5  Carlos  200.000000  carlos@mail.com     Brazil  Masculino        2



Estandarizar el país:
   Nombre        Edad            Email       Pais     Genero  Visitas
0    Juan   25.000000    juan@mail.com   Colombia  Masculino        5
1   Maria   30.000000   maria@mail.com   Colombia   Femenino        7
2   Pedro   56.166667   pedro@mail.com     Mexico  Masculino        6
3     Ana   29.000000     ana@mail.com  Argentina   Femenino        4
4   Luisa   28.000000   luisa@mail.com   Colombia   Femenino        8
5  Carlos  200.000000  carlos@mail.com     Brazil  Masculino        2



Corregir valores inválidos:(como la edad de 200 años).
   Nombre       Edad            Email       Pais     Genero  Visitas
0    Juan  25.000000    juan@mail.com   Colombia  Masculino        5
1   Maria  30.000000   maria@mail.com   Colombia   Femenino        7
2   Pedro  56.166667   pedro@mail.com     Mexico  Masculino        6
3     Ana  29.000000     ana@mail.com  Argentina   Femenino        4
4   Luisa  28.000000   luisa@mail.com   Colombia   Femenino        8
5  Carlos  61.361111  carlos@mail.com     Brazil  Masculino        2

<ipython-input-26-3ed85720dde0>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Edad'].fillna(df['Edad'].mean(), inplace=True)