<a href="https://colab.research.google.com/github/Alejohenao-8/python/blob/main/Laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#1. Identificar y contar los valores faltantes en cada columna.
#2. Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.
#3. Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

import pandas as pd
import numpy as np

# Creamos el DataFrame inicial con los datos proporcionados
data = {
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Ana'],
    'Edad': [28, 34, None, 45, 38, 34],
    'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']
}

df = pd.DataFrame(data)

# Paso 1: Identificar y contar valores faltantes en cada columna
print("Paso 1: Valores faltantes por columna:")
print(df.isnull().sum())
print("\n")

# Paso 2: Verificar y corregir el formato de la columna 'Salario'
# Convertimos el valor "cinco mil" a un número (5000)
def convert_salary(salario):
    try:
        return int(salario)  # Intenta convertir a entero
    except ValueError:
        if salario == "cinco mil":
            return 5000  # Valor corregido
        return np.nan  # Valor inválido, se marca como NaN

df['Salario'] = df['Salario'].apply(convert_salary)

print("\nPaso 2: Salario después de la conversión:")
print(df['Salario'])
print("\n")




# 3. Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD
# Reemplazar las fechas con '/' por '-'
print("\nPaso 3: Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD")
df = pd.DataFrame(data)

df['Fecha Ingreso'] = df['Fecha Ingreso'].str.replace('/', '-', regex=False)

# Convertir las fechas al formato datetime
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], errors='coerce')

# Convertir las fechas al formato YYYY-MM-DD
df['Fecha Ingreso'] = df['Fecha Ingreso'].dt.strftime('%Y-%m-%d')

# Mostrar el DataFrame actualizado
df[['Nombre', 'Edad', 'Salario', 'Fecha Ingreso']]

Paso 1: Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64



Paso 2: Salario después de la conversión:
0    3000
1    4000
2    5000
3    4500
4    4000
5    5000
Name: Salario, dtype: int64



Paso 3: Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD

  Nombre  Edad    Salario Fecha Ingreso
0   Juan  28.0       3000    2021-01-15
1    Ana  34.0       4000    2020-03-12
2  Pedro   NaN  cinco mil    2022-07-01
3  María  45.0       4500    2021-12-01
4   Luis  38.0       4000    2021-05-20
5    Ana  34.0       5000    2020-03-12

In [33]:
# 1. Identificar y contar los valores faltantes en cada columna.
#2. Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.
#3. Validar y estandarizar el formato de la columna "FechaIngreso" a YYYY-MM-DD.
#4. Verificar que no haya valores faltantes en la columna "Cargo".

import pandas as pd
import numpy as np

# Creamos el DataFrame inicial con los datos proporcionados
data = {
    'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad': [28, None, 40, 45, 38, 34],
    'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']
}

df = pd.DataFrame(data)

# Paso 1: Identificar y contar los valores faltantes en cada columna
print("Paso 1: Valores faltantes por columna:")
print(df.isnull().sum())
print("\n")


# Paso 2: Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos
# Convertimos el valor "cuatro mil" a un número (4000)
def convert_salary(salario):
    try:
        return int(salario)  # Intenta convertir a entero
    except ValueError:
        if salario == "cuatro mil":
            return 4000  # Valor corregido
        return np.nan  # Valor inválido, se marca como NaN

df['Salario'] = df['Salario'].apply(convert_salary)

print("\nPaso 2:  Salario después de la conversión:")
print(df['Salario'])
print("\n")

# Paso 3: Validar y estandarizar el formato de la columna 'Fecha Ingreso'
# Convertimos todas las fechas al formato YYYY-MM-DD y reemplazamos valores inválidos con NaN
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'].str.replace('/', '-', regex=False), errors='coerce').dt.strftime('%Y-%m-%d')
print("\nPaso 3: Datos después de estandarizar la fecha:")
print(df['Fecha Ingreso'])
print("\n")
# Paso 4: Verificar que no haya valores faltantes en la columna "Cargo"
# Si encontramos valores faltantes, se reemplazarán por un mensaje
df['Cargo'] = df['Cargo'].fillna('Cargo no especificado')

print("\nPaso 4: Datos finales después de los ajustes:")
print(df)

Paso 1: Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Cargo            1
Fecha Ingreso    1
dtype: int64



Paso 2:  Salario después de la conversión:
0    3000
1    4000
2    4500
3    4000
4    5000
5    4000
Name: Salario, dtype: int64



Paso 3: Datos después de estandarizar la fecha:
0    2021-01-15
1    2020-03-12
2    2022-07-01
3    2021-12-01
4           NaN
5    2020-03-12
Name: Fecha Ingreso, dtype: object



Paso 4: Datos finales después de los ajustes:
  Nombre  Edad  Salario                  Cargo Fecha Ingreso
0   Juan  28.0     3000               Analista    2021-01-15
1    Ana   NaN     4000                Gerente    2020-03-12
2  Pedro  40.0     4500          Desarrollador    2022-07-01
3  María  45.0     4000                Gerente    2021-12-01
4   Luis  38.0     5000               Analista           NaN
5  Carla  34.0     4000  Cargo no especificado    2020-03-12

In [44]:
#1. Crear un DataFrame con productos y precios.
#2. Producto: Producto A, Producto B,Producto C,Producto D.
#3. Precio:150, -25, 100, None.
#4. Validar que todos los precios sean mayores o iguales a cero y no nulos.
#5. Mostrar los productos con precios inválidos.

import pandas as pd

# Paso 1: Crear un DataFrame con productos y precios

data = {
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Precio': [150, -25, 100, None]
}
df = pd.DataFrame(data)
print("Paso 1: Crear un DataFrame con productos y precios")
print("Paso 2. Producto: Producto A, Producto B,Producto C,Producto D.")
print("Paso 3. Precio:150, -25, 100, None.")
print(df)
print("\n")

precios_mayores_iguales = df[(df['Precio'] > 0)]

# Paso 4: Mostrar los productos con precios inválidos
print("Paso 4: Validar que todos los precios sean mayores o iguales a cero y no nulos:")
print(precios_mayores_iguales)
print("\n")

# Paso 5: Mostrar los productos con precios inválidos.
# Filtramos los productos con precios inválidos (negativos o nulos)
precios_invalidos = df[(df['Precio'] < 0) | (df['Precio'].isnull())]
print("Paso 5: Productos con precios inválidos:")
print(precios_invalidos)

Paso 1: Crear un DataFrame con productos y precios
Paso 2. Producto: Producto A, Producto B,Producto C,Producto D.
Paso 3. Precio:150, -25, 100, None.
     Producto  Precio
0  Producto A   150.0
1  Producto B   -25.0
2  Producto C   100.0
3  Producto D     NaN


Paso 4: Validar que todos los precios sean mayores o iguales a cero y no nulos:
     Producto  Precio
0  Producto A   150.0
2  Producto C   100.0


Paso 5: Productos con precios inválidos:
     Producto  Precio
1  Producto B   -25.0
3  Producto D     NaN

In [5]:
#1. Crear un DataFrame con información de clientes.
#2. ID Cliente:1, 2, 3, 2, 4.
#3. Nombre: Ana, Luis, María, Luis, Carlos
#4. Verificar si hay duplicados en la columna de ID del cliente.
#5. Mostrar los registros duplicados.

import pandas as pd

# Crear un DataFrame con la información de clientes
data = {
    'ID Cliente': [1, 2, 3, 2, 4],
    'Nombre': ['Ana', 'Luis', 'María', 'Luis', 'Carlos']
}

df = pd.DataFrame(data)

# Verificar si hay duplicados en la columna de ID Cliente
duplicados = df[df.duplicated(subset='ID Cliente', keep=False)]

# Mostrar los registros duplicados
print(duplicados)

   ID Cliente Nombre
1           2   Luis
3           2   Luis

In [6]:
#1. Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101-1121).
#2. Encriptar esos datos utilizando una clave generada.
#3. Desencriptar los datos y mostrar ambos (encriptado y desencriptado).

from cryptography.fernet import Fernet

# 1. Crear una cadena con datos sensibles (número de tarjeta)
numero_tarjeta = "1234-5678-9101-1121"

# 2. Generar una clave para la encriptación
clave = Fernet.generate_key()

# Crear un objeto Fernet con la clave generada
cifrado = Fernet(clave)

# 3. Encriptar los datos sensibles
numero_tarjeta_encriptado = cifrado.encrypt(numero_tarjeta.encode())

# 4. Desencriptar los datos
numero_tarjeta_desencriptado = cifrado.decrypt(numero_tarjeta_encriptado).decode()

# Mostrar resultados
print("Número de tarjeta encriptado:", numero_tarjeta_encriptado)
print("Número de tarjeta desencriptado:", numero_tarjeta_desencriptado)

Número de tarjeta encriptado: b'gAAAAABnNVU-81jzJyP1U5j1v4Gb0T3BFylqEyDVeRqhEH9QffrJ7ORJyqHTrd37gqURbXsnvoa-OrbaY59cJG7dcMMaSUQ8QtGlWflh2899wZ2HeT6lXaI='
Número de tarjeta desencriptado: 1234-5678-9101-1121